<%= form_for @user do |f| %>
	<p>
	<%= f.label :fname %>
	<%= f.text_field :fname %>
	</p>

	<p>
	<%= f.label :lname %>
	<%= f.text_field :lname %>
	</p>

	<p>
	<%= f.label :email %>
	<%= f.text_field :email %>
	</p>
	
	<p>
	<%= f.label :password %>
	<%= f.password_field :password %>
	</p>
	
	<p>
	<%= f.label :balance %>
	<%= f.text_field :balance %>
	</p>

	<%= f.submit "Submit" %>


<% end %>