<!DOCTYPE html>
<html>
<head>
  <title>Wallet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<%= link_to 'MyWallet', root_path %>
		<nav>
    <%= link_to "Submit Card", new_card_path %>
   <%= link_to "Card Market", cards_path %>
   <%= link_to "Sign Out", sessions_path, method: :delete %>
		</nav>
	</header>


    <% if flash[:notice] %>
    	<div class="notice">
    		<%= flash[:notice] %>
    	</div>
    <% end %>


<%= yield %>



</body>
</html>
